version: '3.8'

services:
  overseerr:
    image: linuxserver/overseerr
    container_name: overseerr
    environment:
      - PUID={{ ansible_facts.user_uid }}
      - PGID={{ ansible_facts.user_gid }}
      - TZ={{ timezone }}
    volumes:
      - {{ frontend_dir }}/overseerr:/config
    ports:
      - "127.0.0.1:{{ overseerr_port }}:5055"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.overseerr.rule=Host(`{{ server_domain }}`)"
      - "traefik.http.routers.overseerr.entrypoints=websecure"
      - "traefik.http.routers.overseerr.tls.certresolver=myresolver"
      - "traefik.http.services.overseerr.loadbalancer.server.port={{ overseerr_port }}"
    networks:
      - {{ internal_network }}
      - {{ public_network }}
      
networks:
  {{ internal_network }}:
    external: true
  {{ public_network }}:
    external: true
