{
  "sonarr": {
    "ip": "sonarr",
    "port": 8989,
    "base_url": "/",
    "ssl": "false"
  },
  "radarr": {
    "ip": "radarr",
    "port": 7878,
    "base_url": "/",
    "ssl": "false"
  },
  "enabledProviders": ["podnapisi", "gestdown"],
  "languagesEnabled": ["en"],
  "languageProfile": {
    "profileId": 1,
    "name": "English",
    "cutoff": null,
    "items": [
      {
        "id": 1,
        "language": "en",
        "audio_exclude": "False",
        "hi": "False",
        "forced": "False"
      }
    ],
    "mustContain": [],
    "mustNotContain": [],
    "originalFormat": null,
    "tag": null
  }
}
