{
  "applicationSettings": {
    "appLanguage": "en",
    "applicationTitle": {{ frontend_title | to_json }},
    "applicationUrl": {{ ("https://" ~ server_domain) | to_json }},
    "hideAvailable": false,
    "partialRequestsEnabled": true,
    "localLogin": true,
    "newPlexLogin": false,
    "defaultPermissions": 32
  },
  "networkSettings": {
    "trustProxy": true,
    "csrfProtection": true
  },
  "jellyfinSettings": {
    "name": {{ jellyfin_server_name | to_json }},
    "hostname": "jellyfin",
    "port": 8096,
    "apiKey": "",
    "useSsl": false,
    "urlBase": "",
    "externalHostname": {{ ("jellyfin." ~ server_domain) | to_json }},
    "jellyfinForgotPasswordUrl": "",
    "libraries": []
  },
  "radarrServer": {
    "name": "Radarr",
    "hostname": "radarr",
    "port": 7878,
    "apiKey": {{ radarr_api_key | to_json }},
    "useSsl": false,
    "activeProfileId": 6,
    "activeProfileName": "HD - 720p/1080p",
    "activeDirectory": "/data/media/movies",
    "is4k": false,
    "minimumAvailability": "released",
    "isDefault": true,
    "syncEnabled": true,
    "preventSearch": false
  },
  "sonarrServer": {
    "name": "Sonarr",
    "hostname": "sonarr",
    "port": 8989,
    "apiKey": {{ sonarr_api_key | to_json }},
    "useSsl": false,
    "activeProfileId": 6,
    "activeLanguageProfileId": 1,
    "activeProfileName": "HD - 720p/1080p",
    "activeDirectory": "/data/media/tv",
    "is4k": false,
    "isDefault": true,
    "enableSeasonFolders": false,
    "syncEnabled": true,
    "preventSearch": false
  }
}
