ping: {}

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

certificatesresolvers:
  myresolver:
    acme:
      tlschallenge: true
      email: "{{ admin_email }}"
      storage: /letsencrypt/acme.json

log:
  level: INFO
