http:
  routers:
    jellyfin:
      rule: "Host(`jellyfin.{{ server_domain }}`)"
      entryPoints:
        - websecure
      service: jellyfin
      tls:
        certResolver: myresolver
    seerr:
      rule: "Host(`{{ server_domain }}`)"
      entryPoints:
        - websecure
      service: seerr
      tls:
        certResolver: myresolver
    # Permanent redirect: every plain-HTTP request goes to HTTPS.
    web-to-websecure:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: noop@internal

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true

  services:
    jellyfin:
      loadBalancer:
        servers:
          - url: "http://jellyfin:8096"
        responseForwarding:
          flushInterval: 100ms
    seerr:
      loadBalancer:
        servers:
          - url: "http://seerr:5055"
